<div id="leftside">
    <h2>multiupload</h2>
</div>
<div id="rightside">
    <form enctype="multipart/form-data" method="POST" action="/handleUpload">
        <input type="file" required name="files" id="files" multiple>
        <button type="submit">Prześlij</button>
    </form>
</div>